@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.containerr {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 70px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

// modal
.order-modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  padding-top: 200px;
  z-index: 1000;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  &.show {
    display: block;
  }

  .modal-content {
    background-color: #fefefe;
    padding: 10px 30px 40px;
    border: 1px solid #888;
    max-width: 456px;
    width: 95%;
    // min-height: 270px;
    position: relative;
    margin: auto;
    border-radius: 20px;

    .modal-header {
      img {
        width: 20px;
        height: 20px;

        &:hover {
          scale: 1.2;
          transition: .4s;
        }
      }
    }

    .closeModalBtn {
      border: none;
      background-color: #fff;
      color: red;
      font-size: 30px;
      font-weight: 600;
    }

    .modal-body {
      p {
        font-size: 25px;
        margin-top: 10px;
        font-family: Inter;
        text-align: center;
      }

      form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        input {
          border: 2px solid gray;
          padding: 5px 10px;
          font-size: 20px;
          border-radius: 10px;
        }

        .submit-btn {
          background: #EC1F3A;
          border-radius: 10px;
          padding: 10px 25px;
          letter-spacing: 2px;
          font-family: Inter;
          font-weight: 700;
          font-size: 20px;
          text-transform: uppercase;
          color: #FFFFFF;
          border: none;
        }
      }
    }
  }

}

header {
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 80px #3287BF;

  .nav-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20.8531px;
    line-height: 25px;
    color: #50beff;

    &:hover {
      color: #085a91;
      transition: .5s;
    }
  }
}

#hero {
  background-image: url(../public/bg-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 125px 0;
  background-color: rgb(226, 242, 242);

  .hero {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
  }


  #form {
    display: flex;
    align-items: center;
    margin-top: 80px;

    .submit-btn {
      background: #EC1F3A;
      border-radius: 10px;
      padding: 20px 40px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 900;
      font-size: 25.3239px;
      line-height: 31px;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
      margin-left: -50px;
      z-index: 1;
    }
  }

  h1,
  .small-intro {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    line-height: 69px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 158px;
  }

  h1 {
    font-size: 56.8px;
  }

  .small-intro {
    font-size: 30px;
  }

  input {
    background: rgba(164, 234, 255, 0.5);
    backdrop-filter: blur(5.5px);
    border: none;
    border-radius: 10px;
    padding: 20px 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25.3239px;
    line-height: 31px;
    outline-style: none;
    color: #FFFFFF;
  }

  ::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  ::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;

    a {
      width: 310px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 20.8531px;
      line-height: 25px;
      color: #FFFFFF;
      background: #3287BF;
      border-radius: 10px;
      padding: 5px 13px;
    }
  }

  .big-bottles {
    margin-top: -20px;
  }
}

#causes {
  background-color: rgb(226, 242, 242);
  padding-bottom: 73px;

  h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 57.2727px;
    line-height: 70px;
    display: flex;
    align-items: center;

    &:first-child {
      color: red;
    }
  }

  .boxes {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .box {
      .img-control {
        display: flex;

        img {
          margin-left: auto;
          margin-right: auto;
          height: 200px;
        }
      }

    }
  }

  p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #000000;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 9 0px;
  }
}

#calculator-section {
  display: flex;
  justify-content: space-around;
  padding: 80px 0;
  background: linear-gradient(90deg, rgba(70, 126, 171, 1) 35%, rgba(112, 180, 255, 1) 78%);

  .container {
    display: flex !important;
  }

  .calculator {
    margin: 0 auto;
    background-color: #fff;
    width: 950px;
    padding: 60px 70px 80px 50px;
    backdrop-filter: blur(64.8613px);
    border-radius: 26.8531px;
  }

  h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 52.7426px;
    line-height: 64px;
    color: #000000;
    margin-bottom: 33px;
  }

  hr {
    border: 1px solid #50BEFF;
  }

  .price {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 12.8788px;
      line-height: 16px;
      color: #000000;
    }

    h6 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
    }

    button {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 900;
      font-size: 16.4839px;
      line-height: 20px;
      text-transform: uppercase;
      color: #FFFFFF;
      background-color: #EC1F3A;
      border-radius: 6.50923px;
      padding: 15px 60px;
      border: 1px solid red;

      &:hover {
        color: red;
        background-color: #FFFFFF;
        outline: 2px solid red;
        transition: .3s ease-out;
      }
    }
  }

  .boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .box {

      h5 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16.5763px;
        line-height: 20px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 40px;
      }

      .option {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12.7052px;
        line-height: 15px;
        text-transform: uppercase;
        color: #000000;
        padding: 8px 30px;
        border: 1px solid #006FCC;
        border-radius: 9.20903px;
        background-color: #FFFFFF;

        &.opt-1 {
          margin-bottom: 15px;
        }

      }

      .option.chosen {
        background-color: #50BEFF;
        color: #FFFFFF;
      }

      .water-amount {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        p {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 12.7052px;
          line-height: 15px;
          text-transform: uppercase;
          color: #000000;
          padding-top: 20px;
          margin-bottom: 0;
        }

        p.amount {
          font-family: 'Sen';
          font-style: normal;
          font-weight: 700;
          font-size: 16.5763px;
          line-height: 28px;
          text-align: center;
          color: #000000;
          border: 2px solid #50BEFF;
          border-radius: 8.07038px;
          display: inline-block;
          padding: 10px 20px;
        }

        .increase,
        .decrease {
          border: none;
          background-color: #FFFFFF;
          font-family: 'Sen';
          font-style: normal;
          font-weight: 400;
          font-size: 45px;
          line-height: 28px;
          text-align: center;
          color: #8399A9;

          &:hover {
            color: #000000;
            transition: .4s;
          }
        }
      }
    }
  }
}

#description {
  background-color: rgb(226, 242, 242);
  padding: 80px 0 120px 0;

  h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 60px;
  }

  p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }

  h3 {
    margin: 60px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 70px;
    color: #000000;
  }

  button {
    height: 60px;
    padding: 15px 30px;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #000;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.40) 100%), #FFF;
    box-shadow: 6px 10px 25px 0px rgba(0, 0, 0, 0.10);
    margin-top: 40px;
    display: none;
  }

  .production-video {
    display: flex;
    justify-content: space-around;

    iframe {
      width: 70%;
    }
  }
}

footer {
  background: linear-gradient(90deg, rgba(70, 126, 171, 1) 35%, rgba(112, 180, 255, 1) 78%);
  padding: 100px 0 70px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a,
  p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20.8531px;
    line-height: 25px;
    color: #FFFFFF;

    &:hover {
      color: #085a91;
      transition: .3s;
    }
  }

  .left {
    .info {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    div {
      margin-top: 10px;
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 16px;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #3287BF;
      border-radius: 22px;
      padding: 13px 15px;
      gap: 5px;
    }
  }
}

@media screen and (max-width:1100px) {
  .hero {
    h1 {
      font-size: 50px !important;
    }

    .right {
      display: none;
    }
  }
}

@media screen and (max-width:991px) {
  .container {
    margin: 0 50px;
  }

  .calculator {
    width: 100% !important;
  }

  footer {
    .center {
      display: none !important;
    }
  }

  #description h2,
  #description h3 {
    font-size: 40px;
  }

  iframe {
    width: 100% !important;
  }

  #causes {
    h2 {
      font-size: 40px;
    }

    .boxes {
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 50px;
    }
  }

  #calculator-section {
    h3 {
      font-size: 35px;
    }

    h5 {
      font-size: 15px !important;
    }

    .price {
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  .navbar-nav {
    margin: auto !important;
  }
}

@media screen and (max-width:767px) {
  .containerr {
    padding: 0 40px;
  }

  .footer {
    flex-direction: column;
    gap: 40px;

    .left {
      display: flex;
      align-items: center !important;
      flex-direction: column;
    }
  }

  #description {
    padding: 70px 0;

    h2,
    h3 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
    }
  }

  .calculator {
    width: 100% !important;

    .boxes {
      flex-direction: column;
      gap: 10px !important;

      .box {
        text-align: center;

        h5 {
          margin-bottom: 20px !important;
        }
      }
    }
  }

  .hero {

    h1 {
      font-size: 40px !important;
    }
  }
}

@media screen and (max-width:576px) {
  .containerr {
    padding: 0 20px;
  }

  #description {

    h2,
    h3 {
      font-size: 25px;
      margin-bottom: 0;
    }

    h2 {
      line-height: 50px;
    }

    p {
      font-size: 17px;
    }

    iframe {
      height: 350px;
    }

    .second-body {
      display: none;
    }

    button {
      display: block;
    }
  }

  #causes {
    h2 {
      font-size: 35px;
      line-height: 50px;
    }
  }

  #calculator-section {
    .calculator {
      padding: 40px 20px;
    }

    h3 {
      font-size: 30px;
      text-align: center;
    }
  }

  #hero {
    .left {
      h1 {
        display: none;
      }

      .small-intro {
        display: block !important;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 25px;

      input {
        width: 100% !important;
        font-size: 20px !important;
        padding: 10px 15px !important;
        display: block;
      }

      .submit-btn {
        display: block;
        margin: 0 !important;
        font-size: 20px !important;
        padding: 15px 30px !important;
      }
    }
  }

  footer {
    padding: 60px 0 !important;

    .logo {
      display: none;
    }
  }
}

@media screen and (max-width:400px) {
  .containerr {
    padding: 0 8px !important;
  }

  #description {
    h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  #causes {
    padding-top: 80px;
  }


  .logo {
    width: 200px;
  }
}